<div class="container">
  <div class="row">

      <div class="col-md-12 fake text-center">
          <h1 class="fakefont">FAKE</h1>
          <h4>Related Topics by trusted sources</h4>
      </div>


      <div class="col-md-5 m-auto mt-4">

          <div class="card cardfake">
              <div class="card-body ">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

              </div>
          </div>

          <div class="card cardfake">
              <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

              </div>
          </div>

          <div class="card cardfake">
              <div class="card-body ">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

              </div>
          </div>

      </div>

  </div>
</div>
