
  <div class="aboutus-content text-white px-5 " style="margin-bottom: 317px;">
      <h5>Fake News Detector is created and managed by a team of students in the Faculty of Computer<br> and Information science at Ain Shams University.</h5>
      <br>
      <h5>We are helping people to avoid fake news that is published on social media specially on facebook<br> usually with the intent to mislead in order to damage a community or person, create chaos, gain<br>financially or politically and instigate religious or ethnic groups against innocent victims.</h5>
  </div>
