.real
{
    color: #009900 !important;
}
.card
{
    background-color: #000000 !important;
    color: blanchedalmond !important;
    margin: 8px;
}
.cardreal
{
    border-left: #009900 1rem solid ;
}
.realfont
{
    font-size: 7rem;
    margin-bottom: 2rem;
}
