
<div class="header-content text-white px-5">
    <h2>Trusted Sources</h2>
    <br>
    <div class="col-md-2 d-inline-block mx-4">
        <a href="https://www.bbc.com/news"><img class="logo" src="../../assets/BBC.png"></a>
    </div>
    <div class="col-md-2 d-inline-block mx-4">
        <a href="https://www.foxnews.com/"><img class="logo" src="../../assets/Fox.png"></a>
    </div>
    <div class="col-md-2 d-inline-block mx-4">
        <a href="https://news.sky.com/"><img class="logo" src="../../assets/sky.png"></a>
    </div>
</div>

